<div class="container">
    <h1 class="main-heading">Central de TCC</h1>
    <div class="card-container">
        <!-- Primeira Coluna (Autor, Professor e Convidado) -->
        <div class="card-column">
            <div class="card" style="background-color: #87CEEB;">
                <h3 class="card-title">Autor</h3>
                <p class="card-text">Saiba mais sobre o autor do trabalho. Acesse detalhes sobre a pessoa responsável pela elaboração do TCC.</p>
                <a href="/Autor" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>

            <div class="card" style="background-color: #1E90FF;">
                <h3 class="card-title">Professor</h3>
                <p class="card-text">Informações sobre o professor. Conheça o docente que supervisiona o trabalho acadêmico..</p>
                <a href="/Professor" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>
            <div class="card" style="background-color: #00008B;">
                <h3 class="card-title">Convidado</h3>
                <p class="card-text">Informações sobre Membro Exterior. Administre todos os convidados.</p>
                <a href="/MembroExterior" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Segunda Coluna (Banca) -->
        <div class="card-column banca-column">
            <img src="~/lib/img/v1.png" alt="UGB">

            <div class="card banca-card" style="background-color: #1E90FF;">
                <h3 class="card-title">Banca</h3>
                <p class="card-text">Detalhes sobre a banca do trabalho. A Banca é o núcleo central da avaliação do TCC, composta por especialistas que avaliarão a qualidade do trabalho apresentado.</p>
                <a href="/Banca" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 20 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>
        </div>

        <!-- Terceira Coluna (Curso, Trabalho e Orientador) -->
        <div class="card-column">
            <div class="card" style="background-color: #9370DB;">
                <h3 class="card-title">Curso</h3>
                <p class="card-text">Informações sobre o curso. Conheça o curso em que o TCC está inserido, com detalhes sobre sua estrutura e requisitos acadêmicos.</p>
                <a href="/Curso" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>

            <div class="card" style="background-color: #8A2BE2;">
                <h3 class="card-title">Trabalho</h3>
                <p class="card-text">Informações sobre o trabalho. Acesse detalhes sobre o TCC.</p>
                <a href="/Trabalho" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>

            <div class="card" style="background-color: #4B0082;">
                <h3 class="card-title">Orientador</h3>
                <p class="card-text">Informações sobre o orientador do trabalho. O orientador guia o autor do TCCo.</p>
                <a href="/Orientador" class="btn-custom">
                    Acesse
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>


<style>
    body {
        background-color: #ffffff; /* Fundo bege */
        font-family: 'Aptos';
    }

    .main-heading {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .sub-heading {
        text-align: center;
        color: #6c757d;
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Três colunas */
        gap: 1px; /* Distância entre as colunas reduzida pela metade */
        justify-items: center;
        margin-top: 10px;
    }


    .card-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 250px;
        padding: 20px;
        border-radius: 15px;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
        margin: 10px 0;
    }

    .btn-custom {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 8px 0;
        font-weight: bold;
        background-color: #ffffff;
        color: black;
        border-radius: 20px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .btn-custom:hover {
            background-color: black;
            color: white;
        }

    .banca-card {
        width: 600px; /* Aumentar o tamanho da Banca */
    }
</style>
