@model BancaTCC.Models.Curso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo Nome do Curso -->
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <!-- Campo Seleção de Área -->
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <select name="Area" id="Area" class="form-control">
                    <option value="">Selecione a Área</option>
                    <option value="Artes e Humanas">Artes e Humanas</option>
                    <option value="Ciências Biológicas e de Saúde">Ciências Biológicas e de Saúde</option>
                    <option value="Ciências Exatas e Tecnológicas">Ciências Exatas e Tecnológicas</option>
                    <option value="Ciências Sociais e Aplicadas">Ciências Sociais e Aplicadas</option>
                    <option value="Educação">Educação</option>
                </select>
                <span asp-validation-for="Area" class="text-danger"></span> <!-- Validação de erro -->
            </div>

            <!-- Campo Carga Horária -->
            <div class="form-group">
                <label asp-for="CargaHoraria" class="control-label"></label>
                <input asp-for="CargaHoraria" type="number" class="form-control" />
                <span asp-validation-for="CargaHoraria" class="text-danger"></span>
            </div>

            <!-- Botão de Enviar -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Link para Voltar à Lista de Cursos -->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
